#toggle-table-view .p-selectbutton {
  border-color: var(--surface-500) !important;
  background: var(--surface-500) !important;
}

#toggle-table-view .p-button.p-highlight {
  border-color: var(--surface-500) !important;
  background: var(--surface-500) !important;
}

#toggle-table-view .p-button:focus {
  box-shadow: var(--surface-500) !important;
}
